<p class="explanation">Entdecken Sie die Zukunft des autonomen Fahrens! Unser Experiment verwendet ausgewählte Fragen aus dem Big Five Persönlichkeitstest, um in kurzer Zeit die künstliche Intelligenz (KI) mit Ihren Präferenzen vertraut zu machen. Diese rasche Anpassung ermöglicht es der KI, für Sie Entscheidungen zu treffen, die Ihren individuellen Vorlieben entsprechen. Wir sind gespannt auf Ihre Erfahrungen und wie sie zur Entwicklung sichererer und benutzerfreundlicherer autonomer Fahrzeuge beitragen können!</p>
<div class="button-container">
    <button (click)="start()">Start</button>
</div>

