:host {
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.explanation {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    font-family: 'IBM_Plex_Mono-Light';
}

.button-container{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

