<video autoplay muted loop id="myVideo">
    <source src="assets/background.mp4" type="video/mp4">
</video>

<div class="center">
  <app-start-page *ngIf="!showQuestion && !showResult" (startEvent)="startQuiz()"></app-start-page>
  <app-question-page *ngIf="showQuestion" [question]="currentQuestion" (submitEvent)="submitAnswer($event)" (restartEvent)="restartQuiz()"></app-question-page>
  <app-result-page *ngIf="showResult" [results]="quizResults" [totalScore]="totalScore" (restartEvent)="restartQuiz()"></app-result-page>    
</div>

<div class="footer">
  <app-footer (restartEvent)="restartQuiz()" ></app-footer>
</div>
