/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'IBM_Plex_Mono', monospace !important;
}

@font-face {
    font-family: 'IBM_Plex_Mono-Regular';
    src: url('src/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf');
} 


@font-face {
    font-family: 'IBM_Plex_Mono-Light';
    src: url('src/assets/fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf');
} 

p {
    font-family: 'IBM_Plex_Mono-Regular';

}

button {
    padding: 15px 40px;
    font-size: 20px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
    transition: 0.6s;
}
  
button:hover {
    background-color: #ffffff1e;
    transition: 0.6s;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

button:hover:after {
    opacity: 1;
}